<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/for_resume.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no">
</head>
<body>
<header>
    {% include 'header.html' %}
</header>
<div class="body_container">
    <div class="profile_photo"></div>
       <div class="text_container">
            <div class="text">
                <h1>About myself</h1>
                <h2>Зравствуйте! Меня зовут Ибрахим, я являюсь выпускником курсов по программированию в OneClick.</h2>
                <h2>По окончанию курсов я стал Python Developer , специализироваюсь в основном в Backend, но также имею навыки во frontend разработке.</h2>
                <h2>Так же умею пользоваться GitHab и немного разбираюсь в Java script. По окончанию курсов получил государственный сертификат.</h2>
                <h2>Стрессо устойчивый, коммуникабельный, быстро обучаемый, целеустремленный, ответственный. </h2>
                <h2>Владею английским языком на уровне Intermediate.</h2>
            </div>
       </div>
</div>
<footer>
    {% include 'footer.html' %}
</footer>
</body>
</html>